<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Read</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Book Read</h1>
    <hr />
    <div class="buttons">
        <button id="btn1">Add</button>
        <button id="btn2">Edit</button>
        <button id="btn3">Delete</button>
    </div>
    <div class="forms">
        <form action="/add" method="post" id="fA">
            <input type="text" name="isbn" placeholder="ISBN:">
            <input type="text" name="title" placeholder="Title:">
            <input type="text" name="rating" placeholder="Rating: /10">
            <input type="text" name="dateRead" placeholder="Date Read: yyyy-mm-dd">
            <input type="text" name="review"placeholder="Review:" >
            <input type="submit" placeholder="Submit">
        </form>
        <form action="/edit" method="post" id="fE">
            <input type="text" name="title" placeholder="Title:">
            <input type="text" name="review" placeholder="Review:" >
            <input type="submit" placeholder="Submit">
        </form>
        <form action="/delete" method="post" id="fD">
            <input type="text" name="title" placeholder="Title:">
            <input type="submit" placeholder="Submit">
        </form>
    </div>
    <hr />
    <div id = "book-list"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#fA").hide();
            $("#btn1").click(function() {
                $("#fE").hide();
                $("#fD").hide();
                $("#fA").slideToggle();
            });
        });
        $(document).ready(function() {
            $("#fE").hide();
            $("#btn2").click(function() {
                $("#fA").hide();
                $("#fD").hide();
                $("#fE").slideToggle();
            });
        });
        $(document).ready(function() {
            $("#fD").hide();
            $("#btn3").click(function() {
                $("#fA").hide();
                $("#fE").hide();
                $("#fD").slideToggle();
            });
        }); 
        fetch("/api/books")
      .then(response => response.json())
      .then(data => {
        const book = document.getElementById("book-list");
        data.forEach(row => {
            const bookCover = document.createElement("img");
            bookCover.src = `data:image/jpg;base64,${row.figure}`;
            const bookTitle = document.createElement("h2");
            bookTitle.textContent = `${row.title}`;
            const bookRating = document.createElement("p");
            bookRating.textContent = `Rating: ${row.rating}/10`;
            const dateText = document.createElement("p");
            dateText.textContent = `Date Read: ${row.dateRead}`;
            const bookReview = document.createElement("p");
            bookReview.textContent= `"${row.review}"`;
            
            const container = document.createElement("div");
            container.classList.add("book-container");

            container.appendChild(bookCover);
            container.appendChild(bookTitle);
            container.appendChild(bookRating);
            container.appendChild(dateText);
            container.appendChild(bookReview);
            book.appendChild(container);
        })
        })
      .catch(error => {
        console.error("Error fetching data:", error);
      });
    </script>
</body>
</html>




