h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.forms {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#fA {
    display: inline-flex;
    flex-direction: column; 
    gap: 2px;
}

#fE {
    display: inline-flex;
    flex-direction: column; 
    gap: 2px;
}

.book-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 8px;
    width: 180px;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 180px;
}




